html {
  background-color: white;
  margin-right: 20px;
  margin-left: 20px;
}

body {
  width: 1200px;
  margin: 20px auto 20px auto;
}

div#page {
  background-color: #50738f;
  padding: 20px;
}

section#header_block {
  margin-top: -20px;
  position: relative;
}

section#header_block > img {
  width: 35%;
  margin-top: -172px;
  margin-left: 653px;
  position: relative;
  padding: 10px;
}

section#header_block > h1 {
  width: 597px;
  padding: 10px;
  position: relative;
  font-family: arial;
  font-size: 4em;
}

section#header_block > h2 {
  position: relative;
  width: 596px;
  margin-top: -54px;
  padding: 10px;
  font-family: arial;
  font-size: 1.4em;
}

section#header_block > nav {
  background-color: white;
  position: absolute;
  width: 550px;
  margin-top: -100px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: serif;
  font-size: 1.1em;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}

section#header_block > nav > a:link, a:visited {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
}

section#header_block > nav > a:hover, a:active {
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
}

section.resume section#education > h3 {
  font-family: arial;
  font-size: 1.4em;
  color: black;
}

section.resume section#education > h4 {
  font-family: arial;
  font-size: 1.25em;
  color: black;
}

section.resume section#education div#grad_date > p {
  font-family: serif;
  font-size: 1em;
  padding-right: 30px;
  position: absolute;
  margin-left: 880px;
  margin-top: 0px;
}

section.resume section#education > p {
  font-family: serif;
  font-size: 1em;
}

section.resume section#education > ul > h5 {
  font-weight: bold;
}

section.resume section#education > ul > p {
  font-family: serif;
  font-size: 1em;
}

section#resume_footer > h2 {
  font-family: sans-serif;
  font-size: 1.5em;
  position: relative;
  padding-left: 384.5px;
  padding-right: 384.5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

section#resume_footer div.contact_top {
  position: relative;
  margin-top: -19px;
  margin-left: 334px;
  font-family: sans-serif;
  font-size: 1.05em;
  color: black;
}

section#resume_footer div.contact_bottom {
  position: relative;
  margin-top: -10px;
  margin-left: 186px;
  font-family: sans-serif;
  font-size: 1.05em;
  color: black;
}
